<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  {% include '_bootstrap.html' %}
</head>
<body class="index">
  {% include '_head.html' %}

  <div class="jumbotron">
    <div class="container">
      <h1>Здравствуйте!</h1>
      <p>Вы находитесь на сайте, посвященном сбору лингвистических данных.
      <p>Сначала от вас потребуется заполнить небольшую анкету, а затем пройти опрос.
      <p><a class="btn btn-primary btn-lg" href="/form" role="button">Перейти к заполнению анкеты</a>
    </div>
  </div>
</body>
</html>